.wrapper {
  border: 1px solid black;
  background-color: #fcfbfb;
  border-radius: 5px;
  padding: 10px;
  flex: 0 1 300px;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-decoration: underline;
  text-align: center;
}

.itemsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.key {
  font-weight: 700;
}
