.wrapper {
  position: relative;
}

.input {
  border: 1px solid black;
  border-radius: 3px;
  height: 2rem;
  width: 100%;
}

.selectElementsList {
  background-color: #fff;
  position: absolute;
  top: 4rem;
  left: 0;
  max-height: 100px;
  overflow-y: auto;
}

.selectElement {
  cursor: pointer;
  text-decoration: underline;
}

.selectElement:not(:last-child) {
  padding-bottom: 5px;
}

.label {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
